

<form  id = 'add-form' class ="create-update-form" action = "/messages" method = 'POST'>
	<div class = 'form-group'>
		<input type="text" class="form-control" placeholder="artist name" id = 'user' name = 'artist_name'>
		<input type='text' class='form-control' placeholder='email' id = 'user' name = 'email'>
		<input type='text' class='form-control' placeholder='phone' id = 'user' name = 'phone'>
		<input type='text' class='form-control' placeholder='genre' id = 'user' name = 'genre'>
		<input type='text' class='form-control' placeholder='group size' id = 'user' name = 'group_size'>
		<input type='text' class='form-control' placeholder='message' id = 'user' name = 'message'>

		<button type="submit" class="btn btn-warning" id = 'add-button'> Send </button>


		</div>
	</form>
