<!DOCTYPE html>
<html>
<head>
	<title>Musician's Web</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script> -->
	<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDCTwL9mpBMslfLdyW7_AxKxgnW4IzENc&callback=initMap">
	</script>
</head>
<body>
{{{body}}}

</body>
</html>
