<div class="jumbotron" text-align='center'>
<h1>Musician's Web</h1>
<p> Are you a venue or an artist?
<a href='/venue'> <button class='btn btn-warning'> Venue </button> </a>
<a href='/artist'> <button class='btn btn-primary'> Artist </button> </a>

<link ref='style/css' href='../assets/css/indexstyle.css'>

<style>
.jumbotron{
  background-color: white;
  text-align: center;
}
