<h2> Manager Sign in. </h2>
<label> Sign in </label>
<form action='/manager'>
<input type='text' class='form-control' placeholder='Email' id = 'user' name = 'email'>
<input type='text' class='form-control' placeholder='Password' id = 'user' name = 'password'>
<button type="submit" class="btn btn-info" id = 'sign-in-button'> Sign in </button>
</form>
<label> New User </label>
<form action='/users' method='POST'>
<input type='text' class='form-control' placeholder='Email' id = 'user' name = 'email'>
<input type='text' class='form-control' placeholder='Password' id = 'user' name = 'password'>
<button type="submit" class="btn btn-info" id = 'add-button'> Create User </button>
</form>
